# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.iws
*.ipr
.idea/
.vscode/
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/
*.freezed.dart
*.g.dart
*.mocks.dart
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties
/android/key.properties
